<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css'
        integrity='sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=='
        crossorigin='anonymous' referrerpolicy='no-referrer' />
    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
    <div id="app">
        <div class="web_app d-flex">
            <!-- SIDEBAR -->
            <div class="left col-4 column">
                <div class="user d-flex">
                    <!-- ME -->
                    <div class="me d-flex">
                        <div class="avatar">
                            <img :src="'./assets/img/avatar${me.avatar}.jpg'" alt="">
                        </div>
                        <div class="name">{{me.name}}</div>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-circle-notch fa-lg fa-fw"></i>
                        <i class="fa-solid fa-comment fa-lg  fa-fw"></i>
                        <i class="fa-solid fa-ellipsis-v fa-lg fa-fw"></i>
                    </div>
                </div>

                <div class="notifica"></div>

                <!-- SEARCH -->
                <div class="search">
                    <input type="text">
                </div>

                <!-- CONTACTS -->
                <div class="contacts column">
                    <div v-for="contact in contacts" @click="" class="contact d-flex">
                        <div class="avatar">
                            <img :src="'./assets/img/avatar${contact.avatar}'.jpg" alt="">
                        </div>
                        <div class="info">
                            <h3> {{contact.name}} </h3>
                            <p>Ultimo messaggio inviato</p>
                        </div>
                        <div class="lastMess"></div>
                    </div>
                </div>
            </div>

            <div class="righ col-8 column">

                <!-- ACTIVE CONTACT -->
                <div class="activeContact d-flex">
                    <div class="contact_details d-flex">

                        <div class="avatar">
                            <img :src="'./assets/img/avatar${activeContact.avatar}'.jpg" alt="">
                        </div>
                        <div class="name">
                            <h3>{{activeContact.name}}</h3>
                            <p>Ultimo accesso oggi alle 12:00</p>
                        </div>

                    </div>

                    <div class="icon">
                        <i class="fa-solid fa-circle-notch fa-lg fa-fw"></i>
                        <i class="fa-solid fa-comment fa-lg  fa-fw"></i>
                        <i class="fa-solid fa-ellipsis-v fa-lg fa-fw"></i>
                    </div>
                </div>

                <!-- CHAT -->
                <div class="backg">

                    <div class="container messages">

                        <!-- MESSAGES -->
                        <div class="sent"></div>
                        <div class="received"></div>

                    </div>
                </div>

                <!-- TOOLBAR -->
                <div class="toolbar d-flex">

                    <div class="emoji"></div>
                    <input type="text">
                    <div class="mic"></div>

                </div>
            </div>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"></script>
        <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
        <script src="./assets/js/main.js"></script>

    </div>
</body>

</html>







<!-- 
    <header></header>



    <main id="app" class="d-flex">
        <div class="sidebar col-4 column">


            <div class="header_sidebar">
                <div class="userbar d-flex debug">
                    <div class="img_profile d-flex">

                    </div>
                    <div class="name_profilo">

                    </div>
                    <div class="icon_profile d-flex">

                    </div>
                </div>

                <div class="alertmex debug">

                </div>

                <div class="input debug">
                    <div class="mb-3">
                        
                        <input type="email" class="form-control m-1" id="exampleFormControlInput1"
                            placeholder="name@example.com">
                    </div>
                </div>
            </div>





            <div class="contacts debug">

                <div v-for="obj in contacts" class="contact  d-flex">
                    <div class="img">
                        <img width="30px" v-for="avatar in contacts" :src="obj.avatar" alt="">

                    </div>

                    <div class="dati_user">
                        <h3>{{obj.name}}</h3>
                        <p>Ultimo messaggio inviato</p>
                    </div>
                    <div class="time">
                        <span>{{obj.messages[obj.messages.length-1].date}}</span>
                    </div>
                </div>
            </div>
        </div>


        <div class="chat col-8">
            <div class="header_chat debug">

            </div>
            <div class="main_chat debug">
                <div class="container">

                </div>
            </div>
            <div class="footer_chat center d-flex align-items-center debug">
                <div class="smile">

                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="name@example.com">
                </div>
                <div class="invio">

                </div>
            </div>
        </div>
    </main>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/js/main.js"></script> -->