/* #region Common */
:root
{
  --bz-dark-gray: #b1b1b1;
  --bz-gray: #d9dbd5;
  --bz-gray-light: #eaebeb;
  --bz-gray-ligther: #fbfbfa;
  --bz-white: white;
  --bz-sand: #f3eeea;
  --bz-dark: #000;
  --bz-sky: #8fdafd;
  --bz-dark-green: #019689;
  --bz-green: #d5f9ba;
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  background-image: linear-gradient(to bottom, var(--bz-dark-green) 0, var(--bz-dark-green) 140px, var(--bz-gray) 140px, var(--bz-gray) 100%);
  overflow: hidden;
}

#app
{
  height: 100vh;
}

.web_app{
    width: 80%;
    margin: 100px auto;
    height: calc(100% - 200px);
    
}






/*
*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}
.debug{
    border: 1px solid black;
}
body{
    background-color: #d9dbd5;
}

header{
    height: 150px;
    background-color: #009788;
}

main{
    width: 80%;
    height: 800px;
    background-color: brown;
    margin: auto;
    margin-top: -50px;
}


/* SIDEBAR */
/*
.sidebar{
    background-color: white;
}

.userbar{
    height: 50px;
}

.main_chat{
    background-image: url('./assets/img/mine.jpg');
}
.alertmex{
    height: 50px;
    background-color: #8edbfd;
}
.input{
    height: 30px;
}

/* CONTACT */
/*
.contact{
    height: 60px;
}
.img{
    width: 20%;
}
.avatar{
    width: 20px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-image: url('./assets/img/avatar_1.jpg');
}
.dati_user{
    width: 80%;
}
.time{
    width: 20%;
}

/* CHAT */
/*
.header_chat{
    height: 50px;
}
.main_chat{
    height: 600px;
}
.footer_chat{

}
*/