/* #region Common */
:root
{
  --bz-dark-gray: #b1b1b1;
  --bz-gray: #d9dbd5;
  --bz-gray-light: #eaebeb;
  --bz-gray-ligther: #fbfbfa;
  --bz-white: white;
  --bz-sand: #f3eeea;
  --bz-dark: #000;
  --bz-sky: #8fdafd;
  --bz-dark-green: #019689;
  --bz-green: #d5f9ba;
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  background-image: linear-gradient(to bottom, var(--bz-dark-green) 0, var(--bz-dark-green) 140px, var(--bz-gray) 140px, var(--bz-gray) 100%);
  overflow: hidden;
}

#app
{
  height: 100vh;
}

.web_app{
    width: 80%;
    margin: 50px auto;
    height: calc(100% - 100px);
    
}

.left{
    background-color: cadetblue;
}

.user{
width: 100%;
height: 50px;
justify-content: space-between;
align-items: center;
}
i{
    color: var(--bz-dark-gray);
}
.notifica{
    width: 100%;
    height: 50px;
    background-color: var(--bz-sky);
}
.search{
    width: 100%;
    height: 30px;
}
.contact{
    width: 100%;
    min-height: 50px;
}
.avatar{
    width: 50px;
    aspect-ratio: 1 / 1;
    border-radius: 50px;
}
p {
        font-size: 10px;
        color: var(--bz-dark-gray);
    }


img{
width: 100%;
border-radius: 50%;
padding: 5px;
}

.activeContact{
    justify-content: space-between;
    align-items: center;
}

.backg{
    width: 100%;
    height: calc(100% - 100px);
    background-image: url(../img/mine.jpg);
}

/*
*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}
.debug{
    border: 1px solid black;
}
body{
    background-color: #d9dbd5;
}

header{
    height: 150px;
    background-color: #009788;
}

main{
    width: 80%;
    height: 800px;
    background-color: brown;
    margin: auto;
    margin-top: -50px;
}


/* SIDEBAR */
/*
.sidebar{
    background-color: white;
}

.userbar{
    height: 50px;
}

.main_chat{
    background-image: url('./assets/img/mine.jpg');
}
.alertmex{
    height: 50px;
    background-color: #8edbfd;
}
.input{
    height: 30px;
}

/* CONTACT */
/*
.contact{
    height: 60px;
}
.img{
    width: 20%;
}
.avatar{
    width: 20px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-image: url('./assets/img/avatar_1.jpg');
}
.dati_user{
    width: 80%;
}
.time{
    width: 20%;
}

/* CHAT */
/*
.header_chat{
    height: 50px;
}
.main_chat{
    height: 600px;
}
.footer_chat{

}
*/