*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}
.debug{
    border: 1px solid black;
}
body{
    background-color: #d9dbd5;
}

header{
    height: 150px;
    background-color: #009788;
}

main{
    width: 80%;
    height: 800px;
    background-color: brown;
    margin: auto;
    margin-top: -50px;
}


/* SIDEBAR */
.sidebar{
    background-color: white;
}

.userbar{
    height: 50px;
}

.main_chat{
    background-image: url('./assets/img/mine.jpg');
}
.alertmex{
    height: 50px;
    background-color: #8edbfd;
}
.input{
    height: 30px;
}

/* CONTACT */
.contact{
    height: 60px;
}
.img{
    width: 20%;
}
.avatar{
    width: 20px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-image: url('./assets/img/avatar_1.jpg');
}
.dati_user{
    width: 80%;
}
.time{
    width: 20%;
}

/* CHAT */
.header_chat{
    height: 50px;
}
.main_chat{
    height: 600px;
}
.footer_chat{

}